/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */

/* * {
  margin: 0;
  padding: 0;
} */

/* html {
  font-size: 62.5%;
  /* box-sizing: border-box; 
} */

/* .left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
/* }

.right {
  width: 52rem;
  font-size: 2rem;
}  */

/* ELEMENTS STYLE */
/* h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%);
} */

/* .between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
} */

/* .again {
  position: absolute;
  top: 2rem;
  left: 2rem;
} */

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* header {
  position: relative;
  height: 35vh;
  border-bottom: 8px solid #ffc107;
  opacity: 0;
} */

main {
  height: 65vh;
  color: #eee;
}

.number {
  font-size: 7rem;
  padding: 1rem 0rem;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  /* transform: translate(0%, -50%); */
  padding: 3rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  height: 100px;
  width: 310px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  height: 100px;
  width: 310px;
  justify-content: space-around;
  padding-bottom: 50px;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 2rem;
  height: 3rem;
}

.scorebox {
  padding: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.again {
  height: 80px;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin: auto;
  /* align-items: center; */
  width: 300px;
}

.app {
  opacity: 0;
}
